.vertical-line {
  border-left: 3px solid black;
  height: 400px;
}

.obj1{
  border: 1px solid;
  border-color: #2DD35C;
  background-color: #fff;
  width: 750px;
  height: 300px;
  margin-top: -350px;
  margin-left: 2px;
  border-radius: 10% 47% 3% 0% / 0% 97% 4% 10%;
}

.obj2{
  background-color: #c5c5e4;
  width: 550px;
  height: 200px;
  margin-top: -250px;
  margin-left: 570px;
  border-radius: 33% 0% 0% 3% / 97% 100% 0% 3%;
  opacity: 0.85;
}

.text{
  font-size: 20px;
  margin-top: -210px;
  margin-left: 70px;
}

  .button1 {
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   border-radius: 50px;
   color: #FFFFFF;
   font-family: Arial;
   height: 36px;
   width: 125px;
   font-size: 15px;
   background-color: #2DD35C;
   border: solid #2DD35C 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-left: 70px;
}

.button2 {
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   border-radius: 50px;
   height: 36px;
   line-height: 36px;
   color: #5553B7;
   font-family: Arial;
   width: 125px;
   font-size: 15px;
   padding: 0;
   background-color: #FFFFFF;
   border: solid #5553B7 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-left: 10px;
}
